.container{
    width: 900px;
    height: 900px;
    border: 5px solid black;
    margin: 15px auto;
    padding: 15px;
}
.container .question{
    margin: 20px;
}
.container .options{
    margin-left: 25px;
}
.container .submitButton{
    margin: 10px 16px;
    border-radius: 3px;
    border: 2px solid black;
    float: left;
    padding: 4px;
}
.holder{
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 70px;
}

